<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
 <h1>Baram Legacy</h1>

  <h2>
    This is the home page for the
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ/">Baram Legacy</a>
    application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

    <p>This website serves to keep and maintain information about the legacy version (5.50) of the MMORPG game Kingdom of the Winds. </p>

<%= link_to image_tag("baramHeart.jpg", alt: "Baram Heart"),
            'https://www.youtube.com/watch?v=J49irbymkzo' %>
<%= image_tag("baramev1.jpg", alt: "Baram Event") %>
<%= image_tag("yaksu.gif", alt: "yaksu") %>
<%= image_tag("baramCrop.jpg", alt: "crop") %>
<%= image_tag("gilim.gif", alt: "gilim") %>
<%= image_tag("baramMoon.jpg", alt: "moon") %>
<%= image_tag("hwansang.jpg", alt: "fantasy") %>
<%= image_tag("tree.gif", alt: "tree") %>
<%= image_tag("yonggoong.jpg", alt: "sea") %>

<% end %>