
<div class="center jumbotron">
 <h1>Baram Legacy</h1>
    <p>Memories you would replay in a heartbeat. </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>


<div id="slideshow">
  <%= image_tag "baramHeart.jpg", alt: "Baram Heart", :id => "slideshow" %>
  <%= image_tag "baramev1.jpg", alt: "Baram Event", :id => "slideshow" %>
  <%= image_tag "baramCrop.jpg", alt: "crop", :id => "slideshow"  %>
  <%= image_tag "yaksu.gif", alt: "yaksu", :id => "slideshow" %>
  <%= image_tag "gilim.gif", alt: "gilim", :id => "slideshow" %>
  <%= image_tag "baramMoon.jpg", alt: "moon", :id => "slideshow" %>
  <%= image_tag "Sky.png", alt: "fantasy", :id => "slideshow" %>
  <%= image_tag "tree.gif", alt: "tree", :id => "slideshow" %>
  <%= image_tag "yonggoong.jpg", alt: "sea", :id => "slideshow" %>
  <%= image_tag "fantasyIsland.jpg", alt: "Fantasy Island", :id => "slideshow" %>
</div>

